//
@import "./partials/reset";
@import "./partials/vars";
@import "./partials/mixins";

* {
    border: 0px solid tomato;
}

:root {
    @include text;
}



@import "./partials/_header.scss";
@import "./partials/_selection.scss";
@import "./partials/_about.scss";
@import "./partials/_portfolio.scss";
@import "./partials/_contact.scss";
@import "./partials/_footer.scss";



.home {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $white;
    width: 100%;
    min-height: 100vh;
    transition: opacity 4s;
}

body {
    background-color: $base-color;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    scroll-behavior: smooth
}

main {
    width: 100%;
    background-color: $white;
    padding-bottom: 4rem;
}