.about {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-top: 2rem;


    .containerAbout {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem 0;



        .me {
            display: flex;
            flex-direction: row;
            gap: rem;
            height: auto;


            p {
                padding: 1rem 0;
                padding-right: 2rem;
                height: fit-content;
                width: 60%;
                font-weight: 100;
            }

            .imgMe {

                width: 40%;
                height: 100%;

                border-radius: 1rem;
                object-fit: cover;
                align-items: center;

                img {

                    object-fit: cover;
                    width: 100%;
                    border-radius: 1rem;




                }
            }
        }
    }
}

.skills {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    padding: 0rem;
    margin: 2rem;

    .skillBox {
        display: flex;
        flex-direction: column;
        width: 100%;

        .skillShow {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: .5rem;

            .boxSkill {
                width: 45%;
                padding: .25rem;
                gap: .25rem;
                display: flex;
                flex-direction: column;
                transition: all .5s ease-in-out;
            }

            h5 {
                display: flex;
                width: auto;
                transition: all .3s ease-in-out;
            }

            .bar {

                background-color: $base-color;
                border-radius: 99999px;
                transition: all .3s ease-in-out;
                height: 15px;
            }

            .bar:hover {
                background-color: $baseHover-color;

            }

            .one {
                width: 100%;
            }

            .nineFive {
                width: 95%;
            }

            .nine {
                width: 90%;
            }

            .eightFive {
                width: 85%;
            }

            .eight {
                width: 80%;
            }

            .sevenFive {
                width: 75%;
            }

            .seven {
                width: 70%;
            }

            .six {
                width: 60%;
            }
        }

        .boxSkill:hover {
            h5 {
                font-size: large;
                transition: font-size .5s ease-in-out;
            }

            .bar {
                background-color: $baseHover-color;
                transition: background-color .2s ease;
            }
        }
    }



}

.moreInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 0;
    margin: 2rem;

    ul {
        list-style-type: circle;
        list-style-position: inside;
        font-size: small;

    }

    .formation {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 40%;

        .lists {
            display: flex;
            gap: 1rem;

            .year {
                list-style-type: none;
            }
        }
    }

    .awards {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .about {
        width: 90%;
        padding: 1rem 0;

        .containerAbout {
            padding: 0;

            .me {


                flex-direction: column;

                p {
                    width: 100%;
                }

                .imgMe {
                    display: none;
                }
            }
        }

        .skills {
            .skillBox {
                .skillShow {
                    .boxSkill:hover {
                        h5 {
                            font-size: .90rem;
                            transition: font-size .5s ease-in-out;
                        }

                        .bar {
                            background-color: $baseHover-color;
                            transition: background-color .2s ease;
                        }
                    }
                }
            }

        }

        .moreInfo {
            flex-direction: column;
            gap: 1rem;

            .formation {
                width: 100%;
            }

            .awards {
                width: 100%;
            }
        }
    }


}