
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  src: url('../../assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}


body {
  font-family: 'Outfit', sans-serif;
}



body {
    font-family: 'Outfit' , sans-serif, ;
}

h1 {
    font-size: 5rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-family: 'Outfit' , sans-serif;
    font-weight: 750;
    color: $brand-color;
}

h2 {
    font-family: 'Outfit' , sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;

}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Outfit' , sans-serif;
    font-weight: bold;

}

h4 {}

p {
    font-family: 'Outfit' , sans-serif;
    font-size: medium;
}

ul {
    font-family: 'Outfit' , sans-serif;
    font-size: medium;
    list-style: none;
    gap: .5rem;
}

li {
    font-family: 'Outfit' , sans-serif;
    font-size: medium;
    list-style: none;
}

a {
    font-family: 'Outfit' , sans-serif;
    font-size: medium;
}

b {
    font-weight: bold;
    font-family: 'Outfit' , sans-serif;
}

button {
    font-family: 'Outfit' , sans-serif;
    font-size: medium;
}

// Especial Stuff

.sect {
    padding: 2.5rem 0 .5rem 0;
    font-family: 'Outfit' , sans-serif;
}

.under {
    text-decoration: underline;
    font-family: 'Outfit' , sans-serif;
}

@media screen and (max-width: 1040px) {

    h1 {
        font-size: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        font-family: 'Outfit' , sans-serif;
        font-weight: 750;
        color: $brand-color;
    }

    h2 {
        font-family: 'Outfit' , sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 900;

    }

    h3 {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Outfit' , sans-serif;
        font-weight: bold;

    }

    h4 {}

    p {}



    p {
        font-family: 'Outfit' , sans-serif;
        font-size: medium;
        font-weight: 500;
    }

    ul {
        font-family: 'Outfit' , sans-serif;
        font-size: medium;
        list-style: none;
        gap: .5rem;
    }

    li {
        font-family: 'Outfit' , sans-serif;
        font-size: medium;
        list-style: none;
    }

    a {
        font-family: 'Outfit' , sans-serif;
        font-size: medium;
    }

    b {
        font-weight: bold;
    }

    button {
        font-family: 'Outfit' , sans-serif;
        font-size: medium;
    }

    // Especial Stuff

    .sect {
        padding: 2.5rem 0 .5rem 0;
    }

    .under {
        text-decoration: underline;
    }
}