@mixin text {
    @font-face {
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

        font-family: Outfit, sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}


@font-face {
  font-family: Outfit, sans-serif;
  src: url("../assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");

}



h1 {
    font-size: 5rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-family: Outfit, sans-serf;
    font-weight: 750;
    color: $brand-color;
}

h2 {
    font-family: Outfit, sans-serf;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;

}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Outfit, sans-serf;
    font-weight: bold;

}

h4 {}

p {
    font-family: Outfit, sans-serf;
    font-size: medium;
}

ul {
    font-family: Outfit, sans-serf;
    font-size: medium;
    list-style: none;
    gap: .5rem;
}

li {
    font-family: Outfit, sans-serf;
    font-size: medium;
    list-style: none;
}

a {
    font-family: Outfit, sans-serf;
    font-size: medium;
}

b {
    font-weight: bold;
    font-family: Outfit, sans-serf;
}

button {
    font-family: Outfit, sans-serf;
    font-size: medium;
}

// Especial Stuff

.sect {
    padding: 2.5rem 0 .5rem 0;
    font-family: Outfit, sans-serf;
}

.under {
    text-decoration: underline;
    font-family: Outfit, sans-serf;
}

@media screen and (max-width: 1040px) {
  
h1 {
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-family: Outfit, sans-serf;
    font-weight: 750;
    color: $brand-color;
}

h2 {
    font-family: Outfit, sans-serf;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 900;

}

h3 {
    font-size: .75rem;
    text-transform: uppercase;
    font-family: Outfit, sans-serf;
    font-weight: bold;

}

h4 {}

p {}



p {
    font-family: Outfit, sans-serf;
    font-size: medium;
}

ul {
    font-family: Outfit, sans-serf;
    font-size: medium;
    list-style: none;
    gap: .5rem;
}

li {
    font-family: Outfit, sans-serf;
    font-size: medium;
    list-style: none;
}

a {
    font-family: Outfit, sans-serf;
    font-size: medium;
}

b {
    font-weight: bold;
}

button {
    font-family: Outfit, sans-serf;
    font-size: medium;
}

// Especial Stuff

.sect {
    padding: 2.5rem 0 .5rem 0;
}

.under {
    text-decoration: underline;
}
}