@font-face {
    font-family: Outfit;
    font-style: normal;
    font-weight: 100 900;
    src: url('../assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    
}




@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

    font-family: Outfit;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Outfit;
    src: url("/assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 400
}

@font-face {
    font-family: Outfit;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v14/QGYvz_MVcBeNP4NJuktqQ4E.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
    font-family: Outfit, ;
}

h1 {
    font-size: 5rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-family: Outfit, ;
    font-weight: 750;
    color: $brand-color;
}

h2 {
    font-family: Outfit;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;

}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Outfit;
    font-weight: bold;

}

h4 {}

p {
    font-family: Outfit;
    font-size: medium;
}

ul {
    font-family: Outfit;
    font-size: medium;
    list-style: none;
    gap: .5rem;
}

li {
    font-family: Outfit;
    font-size: medium;
    list-style: none;
}

a {
    font-family: Outfit;
    font-size: medium;
}

b {
    font-weight: bold;
    font-family: Outfit;
}

button {
    font-family: Outfit;
    font-size: medium;
}

// Especial Stuff

.sect {
    padding: 2.5rem 0 .5rem 0;
    font-family: Outfit;
}

.under {
    text-decoration: underline;
    font-family: Outfit;
}

@media screen and (max-width: 1040px) {

    h1 {
        font-size: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        font-family: Outfit;
        font-weight: 750;
        color: $brand-color;
    }

    h2 {
        font-family: Outfit;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 900;

    }

    h3 {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: Outfit;
        font-weight: bold;

    }

    h4 {}

    p {}



    p {
        font-family: Outfit;
        font-size: medium;
        font-weight: 500;
    }

    ul {
        font-family: Outfit;
        font-size: medium;
        list-style: none;
        gap: .5rem;
    }

    li {
        font-family: Outfit;
        font-size: medium;
        list-style: none;
    }

    a {
        font-family: Outfit;
        font-size: medium;
    }

    b {
        font-weight: bold;
    }

    button {
        font-family: Outfit;
        font-size: medium;
    }

    // Especial Stuff

    .sect {
        padding: 2.5rem 0 .5rem 0;
    }

    .under {
        text-decoration: underline;
    }
}