.main {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: $base-color;
    z-index: 50;



    .proyects {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5rem;
        justify-content: center;

        .proyectsShow {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 40vw));
            gap: 3rem;
            justify-content: center;
            justify-content: center;
            align-items: center;

            .proyect {
                width: 100%;
                border: none;
                padding: 0;
                background: none;
                cursor: pointer;
                overflow: hidden;
                aspect-ratio: 16/10;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: all 0.5s ease-in-out;

                .proyectImg {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    object-fit: cover;
                    transition: transform 0.5s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    filter: drop-shadow(.5rem .5rem 0px $brand-color-hover);

                    .proyectImg {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .proyectExp {
        z-index: 100;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: $base-color;
        transition: right 0.3s ease-in-out;

       
        display: flex;
        flex-direction: column;


        .close {
            z-index: 100;


            button {
                z-index: 100;
                color: $black-color;
                padding: 2rem 3rem;
                align-items: center;
                transition: all .2s ease-out;
                filter: drop-shadow(2px 2px 3px) $base-color;
                font-size: larger;

                font-weight: bold;
                position: absolute;
                right: 0;



            }


        }

        .close {
            button:hover {
                color: $brand-color;
                font-size: 1.5rem;
                transition: all .3s ease-in;

            }
        }


        .scroll-container {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;


        }

        .expBox {
            flex-direction: column;
            display: flex;
            gap: 1rem;
            padding-bottom: 0rem;

            .mainBox {
                display: flex;
                flex-direction: column;


                .topBox {
                    object-fit: cover;
                    overflow: hidden;


                    .expBig {
                        overflow: hidden;
                        max-height: 80vh;
                        object-fit: cover;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        display: flex;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .infoPro {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .titleBox {
                        background-color: $brand-color;
                        align-items: center;
                        justify-content: center;
                        display: flex;

                        h2 {
                            color: $base-color;
                            padding: .25rem 5rem;
                            text-align: center;
                        }

                    }

                    p {
                        width: 60%;
                        padding: 0.25rem 5rem;
                        align-self: center;
                        padding: 2rem 0;
                    }
                }
            }

            .imgsPro {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-column-gap: 0rem;
                grid-row-gap: 0rem;
                padding: 0 0rem;

                .examp {
                    max-height: 80vh;
                    object-fit: cover;

                    transition: all 0.5s ease-in-out;

                    img {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        object-fit: cover;
                        transition: transform 0.5s ease-in-out;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .imgProShow1 {
                    grid-area: 1 / 1 / 2 / 4;
                }

                .imgProShow2 {
                    grid-area: 1 / 4 / 2 / 7;
                }

                .imgProShow3 {
                    grid-area: 2 / 1 / 3 / 7;
                }

                .imgProShow4 {
                    grid-area: 3 / 1 / 4 / 3;
                }

                .imgProShow5 {
                    grid-area: 3 / 3 / 4 / 7;
                }

                .imgProShow6 {
                    grid-area: 4 / 5 / 5 / 7;
                }

                .imgProShow7 {
                    grid-area: 4 / 1 / 5 / 5;
                }
            }
        }
    }

    .active {
        right: 0;
    }
}



@media screen and (max-width: 1040px) {
    .main {
        min-height: 100vh;
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: $base-color;


        .proyects {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            justify-content: center;

            .proyectsShow {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 60vw));
                gap: 1rem;
                justify-content: center;
                justify-content: center;
                align-items: center;

                .proyect {
                    width: 100%;
                    border: none;
                    padding: 0;
                    background: none;
                    cursor: pointer;
                    overflow: hidden;
                    aspect-ratio: 16/10;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    filter: drop-shadow(0px 0px 0px $brand-darkGray);
                    transition: all 0.5s ease-in-out;

                    .proyectImg {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        object-fit: cover;
                        transition: transform 0.5s ease-in-out;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &:hover {


                        .proyectImg {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .proyectExp {

            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100vh;
            background-color: $base-color;
            transition: right 0.3s ease-in-out;
            display: flex;
            flex-direction: column;


            .close {

                button {}


            }

            .close {
                button:hover {}
            }


            .scroll-container {}

            .expBox {
                flex-direction: column;
                display: flex;
                gap: 1rem;
                padding-bottom: 0rem;

                .mainBox {
                    display: flex;
                    flex-direction: column;


                    .topBox {
                        object-fit: cover;
                        overflow: hidden;


                        .expBig {
                            overflow: hidden;
                            max-height: 80vh;
                            object-fit: cover;
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                            display: flex;


                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .infoPro {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .titleBox {
                            background-color: $brand-color;
                            align-items: center;
                            justify-content: center;
                            display: flex;

                            h2 {
                                color: $base-color;
                                padding: .25rem 5rem;
                            }

                        }

                        p {
                            width: 100%;
                            padding: 0.25rem 5rem;
                            align-self: center;
                            padding: 2rem 1rem;
                        }
                    }
                }

                .imgsPro {


                    .examp {
                        max-height: 90vh;
                        object-fit: cover;
                        filter: drop-shadow(5px 5px 3px $brand-darkGray);
                        transition: all 0.5s ease-in-out;

                        img {
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center;
                            object-fit: cover;
                            transition: transform 0.5s ease-in-out;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .imgProShow1 {
                        grid-area: 1 / 1 / 2 / 4;
                    }

                    .imgProShow2 {
                        grid-area: 1 / 4 / 2 / 7;
                    }

                    .imgProShow3 {
                        grid-area: 2 / 1 / 3 / 7;
                    }

                    .imgProShow4 {
                        grid-area: 3 / 1 / 4 / 3;
                    }

                    .imgProShow5 {
                        grid-area: 3 / 3 / 4 / 7;
                    }

                    .imgProShow6 {
                        grid-area: 4 / 5 / 5 / 7;
                    }

                    .imgProShow7 {
                        grid-area: 4 / 1 / 5 / 5;
                    }
                }
            }
        }

        .active {
            right: 0;
        }
    }
}