.selection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $black;
    z-index: 2;
    padding: 0 .5rem;
    padding-bottom: 0rem;

    .sel {
        color: $dark-gray;
        padding: .75rem 3rem;
        border-bottom: 2px solid transparent;
        transition: color 0.3s ease, border-bottom 0.3s ease;
        position: relative;
        overflow: hidden;
        padding: 0rem 2rem;
        
        &:hover {
            color: $accent-color;
        }
    }

    .activeSel {
        color: $accent-color !important;
        padding: .75rem ;
        border-bottom: 2px solid $accent-color;
        
        &:hover {
            color: $accent-color;
        }
    }
}

@media screen and (max-width: 900px) {

    .sel {
        padding: 0;
    }
}