$base-color: #7a0712;
$baseHover-color: #a40a19;
$trans-color: #ff001975;
$transHover-color: #e04b5a;
$accent-color: #f6ff00;
$dark-gray: #636363;
$black: #0a0a0a;
$white: #fcfcfc ;

//$base-color: #fffaf4;
//$accent-color: #c80895;
//$dark-gray: #636363;
//$black: #0a0a0a;